include LICENSE
include README.md
include src/napari_deeplabcut/styles/*.mplstyle
include src/napari_deeplabcut/assets/napari_shortcuts.svg
include src/napari_deeplabcut/assets/topviewmouse.jpg
include src/napari_deeplabcut/assets/topviewmouse.json
include src/napari_deeplabcut/assets/superquadruped.jpg
include src/napari_deeplabcut/assets/superquadruped.json

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
